Makefile
*Makefile.in
config.h.in
aclocal.m4
depcomp
configure
missing
install-sh
configure.scan
config.status
config.h
xwpe.cs
xwpe.csworkspace
build*
*.o
*.bak
*.log
*.pdf
*.swp
*.orig
*.deps*
*.libs*
*.la
*.lo
.ycm*
src/we
src/wpe
src/xwpe
src/xwe
autom4te*
libtool*
*~
